 <footer>
        <div class="container py-1">
            <div class="row">
                <div class="col-6 col-md">
                    <h5><strong>Sitio desarollado por:</strong></h5>
                    <ul class="list-unstyled text-small">
                        <h5>Grupo 7</h5>
                        <li><a class="text-white" href="#">Braayan Gomez</a></li>
                        <li><a class="text-white" href="#">Johan puentes</a></li>
                        <li><a class="text-white" href="#">Steven Valderrama</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md ">
                    <h5><strong> Redes Sociales</strong></h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <img src="img/facebook.png" alt="">
                            <a class="text-white" href="#">Facebook</a></li>
                        <li>
                            <img src="img/googleplus.png" alt="">
                            <a class="text-white" href="#">Google+</a></li>
                        <li>
                            <img src="img/Whatsapp.png" alt="">
                            <a class="text-white" href="#">Whatsapp</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md ">
                    <h5><strong>¿Cómo encontrarnos?</strong></h5>
                    <ul class="list-unstyled text-small justify-content-end">
                        <li>
                            <p class="text-white ">Dirección: Carrera 14 Nº 15-55 Centro <strong>Florencia-
                                    Caqueta</strong> </p>
                        </li>
                        <li>
                            <p class="text-white "> Correo: ildaguillen04@gmail.com</p>
                        </li>
                        <li>
                            <p class="text-white ">Tel: 3124563812 - 3103313034</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="derechosr texto-footer text-center">
                <p>©2020 All Rights Reserved Hotel Yireth Shalom</p>
            </div>
        </div>
    </footer>