{{> navegacion}}

<section>
    <div class="container">
        <div class="row justify-content-center h-100">
            <form class="reserva needs-validation" method="POST" action="/reservasP" novalidate>
                <p><strong>Reserve aqui</strong> </p>
                <hr>
                <div class="info">
                    <div><label for="" class="mt-3"><strong>Nombre</strong> </label>
                        <input type="text" class="form-control form-control-sm" name="nombre"
                            placeholder="Ingrese su nombre" id="validationCustom01" required>
                        <div class="invalid-feedback">
                            Ingrese su nombre.
                        </div>
                        <div class="valid-feedback">
                            Muy bien!
                        </div>
                    </div>

                    <div><label for="" class="mt-3"><strong>Apellido</strong></label>
                        <input type="text" class="form-control form-control-sm" name="apellido"
                            placeholder="Ingrese su apellido" id="validationCustom01" required>
                        <div class="invalid-feedback">
                            Ingrese su apellido.
                        </div>
                        <div class="valid-feedback">
                            Muy bien!
                        </div>
                    </div>

                    <div> <label for="" class="mt-3"><strong>Correo electronico</strong></label>
                        <input type="email" class="form-control form-control-sm" name="correoelectronico"
                            placeholder="name@example.com" id="validationCustom01" required>
                        <div class="invalid-feedback">
                            Ingrese un correo electronico.
                        </div>
                        <div class="valid-feedback">
                            Muy bien!
                        </div>
                    </div>
                    <div> <label for="" class="mt-3"><strong>Telefono</strong></label>
                        <input type="text" class="form-control form-control-sm" name="telefono"
                            placeholder="Su numero telefonico" id="validationCustom01" required>
                        <div class="invalid-feedback">
                            Ingrese numero telefonico.
                        </div>
                        <div class="valid-feedback">
                            Muy bien!
                        </div>
                    </div>


                    <div> <label for="" class="mt-3"><strong>Fecha de entrada</strong></label>
                        <input type="date" class="form-control foe
                        entradarm-control-sm" name="fechaentrada" id="validationCustom01" required>
                        <div class="invalid-feedback">
                            Seleccione una fecha de entrada.
                        </div>
                        <div class="valid-feedback">
                            Muy bien!
                        </div>
                    </div>

                    <div><label for="" class="mt-3"><strong>Fecha de salida</strong></label>
                        <input type="date" class="form-control foe
                        entradarm-control-sm" name="fechasalida" id="validationCustom01" required>
                        <div class="invalid-feedback">
                            Seleccione una fecha de salida.
                        </div>
                        <div class="valid-feedback">
                            Muy bien!
                        </div>
                    </div>

                    <div> <label for="" class="mt-3"><strong>Tipos De Habitacion</strong></label>
                        <select class="custom-select" name="tipohabitacion" id="validationCustom04" required>
                            <option selected disabled value>...</option>
                            <option value="Sencilla">Sencilla</option>
                            <option value="Doble">Doble</option>
                            <option value="Estandar Doble">Estandar Doble</option>
                        </select>
                        <div class="invalid-feedback">
                            Seleccione una tipo de habitacion.
                        </div>
                        <div class="valid-feedback">
                            Muy bien!
                        </div>
                    </div>

                    <div class="form-check mt-3 d-none">
                                <input class="form-check-input" type="radio" name="estadoo" value="Pendiente" checked>
                            </div>

                    <button id="btnreserva" class="btn btn-danger btn-lg btn-block mt-3" type="submit">Reservar</button>
                </div>
            </form>


        </div>
    </div>
    </div>
</section>


{{> footer}}